
body {
	margin: 0;
	background: #FCF5EF url("assets/floral-3.png");
	-webkit-font-smoothing: antialiased;
	position: relative;
}
p {
	font-weight: normal;
	text-rendering: geometricPrecision;
}

h1 {
	font-family: 'SwedenSans', serif;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

@font-face {
font-family: SwedenSans;
src: url("font/SwedenSans.otf") format("opentype");
}

@font-face {
font-family: SwedenSans;
font-weight: bold;
src: url("font/SwedenSansBold.otf") format("opentype");
}

body.background-blur:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: inherit;
	background-size: inherit;
/*	  
	  -webkit-filter: blur(2px);
	  -moz-filter: blur(2px);
	  -o-filter: blur(2px);
	  -ms-filter: blur(2px);
	  filter: blur(2px);

	  transition: 3s filter linear;
	  -webkit-transition: 3s -webkit-filter linear;
	  -moz-transition: 3s -moz-filter linear;
	  -ms-transition: 3s -ms-filter linear;
	  -o-transition: 3s -o-filter linear;*/

}

.content-wrapper {
	border: 40px solid white;
	position: relative;
}

.poster {
	position: relative;
}

.poster img {
	
}
.poster .title {
	width: 40%;
	margin: 0 30% 0;
}
.poster .illo {
	width: 600px;
	margin-left: 30%;
}

.wrapper {
	padding: 0 0 200px 0;
	position: relative;
	z-index: 1;
	// margin-top: 10%;
	// background: url("assets/background.jpg");
}

.container-1 {
	// color: #4A4041;
	color: #1B0202;
	background-color: rgba(253, 251, 249, 0.8);
	padding: 150px 50px;
	width: 45%;
	margin: 0 auto;
	border-radius: 5px;
}

.container-1 .sect-1 {
	width: 90%;
    margin: 0 auto;
    line-height: 1.75;
    text-align: center;
    font-size: 20px;
	font-family: SwedenSans, sans-serif;
}

.container-1 .sect-2 {
	font-size: 30px;
	text-align: center;
	font-family: SwedenSans, sans-serif;
	margin: 100px 0;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.container-1 .sect-2 span {
	padding: 0 10px;
}

.container-1 .sect-2 .button {
	border: 2px solid #FB607F;
	color: #FB607F;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
}

.container-1 .sect-2 a .button:hover {
	background-color: #FB607F;
	color: white;
}

.container-1 h1 {
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
	margin: 100px 0 10px 0;
}

.container-1 .contributor {
	width: 60%;
	margin: 50px auto;
	text-align: center;
}

.container-1 .contributor p {
	margin-bottom: 5px;
	font-size: 2.5em;
    letter-spacing: 3px;
	font-family: SwedenSans, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

.container-1 .contributor p:nth-child(2) {
	font-size: 16px;
	color: #1B0202;
	// color: #5F5153;
	margin: 0;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 1px;
}

.container-1 .contributor .icon svg {
	width: 25px;
}

.container-2 {
	font-size: 25px;
	font-family: SwedenSans, sans-serif;
	width: 100%;
	height: 400px;
	color: #1B0202;
	padding: 30px 0;
	// background-color: #CC2B43;
	background-color: #FB607F;
	max-width: 960px;
	margin: 0 auto;
	
}

.container-2 section {
	width: 33%;
	height: 400px;
	text-align: center;
	float: left;
	// border-right: #D0596A 1px solid;
	border-right: #9C0532 1px solid;
	line-height: 1.5;
	padding: 0 20px;
	box-sizing: border-box;
}

.container-2 section:nth-child(3) {
	border-right: none;
}

.container-2 section:nth-child(3) .icon {
	width: 40px;
	display: inline-block;
}

.fa-external-link.fa-2x {
	font-size: 1.5em;
	color: #887C7E;
}

.container-2 p {
	font-weight: bold;
	letter-spacing: 0;
}

.container-2 .logo {
	margin-bottom: 20px;
}

.container-2 .logo a:hover {
	opacity: .5;
}


footer {
	width: 100%;
	background-color: #FB607F;
}

/*footer .col-1 {
	width: 30%;
	float: left;
	text-align: center;
}
footer .col-2 {
	width: 70%;
	float: left;

}*/




@media (max-width: 500px) {

body {
	margin: 0;
	background: #FCF5EF url("assets/floral-3.png");
	background-size: 80%;
	-webkit-font-smoothing: antialiased;
	position: relative;
}



.content-wrapper {
	border: 15px solid white;
	padding-bottom: 200px;
}

.poster {
	height: 100%;
}

.poster .title {
	width: 100%;
	margin: 50px 0 0 0;
}
.poster .illo {
	width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-1 {
	padding: 15px;
    width: 80%;
    box-sizing: border-box;
	margin: 0 auto;
	border-radius: 5px;
}

.container-1 .sect-1 {
	width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

.container-1 .sect-1 p {
	font-size: 18px;
	
}

.container-1 .sect-2 {
	font-size: 18px;
	text-align: center;
	font-family: SwedenSans;
	margin: 100px 0;
	font-weight: normal;
}

.container-1 .sect-2 span {
	padding: 0;
}

.container-1 .sect-2 .button {
	border: 2px solid #E40D4D;
	color: #E40D4D;
	border-radius: 5px;
	padding: 10px;
}

.container-1 .sect-2 a .button:hover {
	background-color: #E40D4D;
	color: white;
}

.container-1 h1 {
	font-family: 'Bree Serif', serif;
	text-align: center;
	font-size: 30px;
	margin: 100px 0 10px 0;
}

.container-1 .contributor {
	width: 100%;
	margin: 30px auto;
	text-align: center;
}

.container-1 .contributor p {
	font-size: 20px;
}

.container-1 .contributor p:nth-child(2) {
	font-size: 14px;
}

.container-1 .contributor span .icon svg {
	width: 18px;
}

.container-2 {
	width: 100%;
	height: inherit;
	// padding: 30px 0;
	
}

.container-2 section {
	width: 100%;
	height: inherit;
	float: none;
	border-right: none;
	border-bottom: #9C0532 1px solid;
	border-width: 30%;
}

.container-2 section:nth-child(3) {
	border-bottom: none;
}

.container-2 .logo {
	margin-bottom: 20px;
}



}


@media (max-width: 800px)
@media (max-width: 800px)


